{% ifnotequal user comment.user %}
<div id="argue{{ comment.id }}" class="comment_action">
  <form action="/argue/challenge/{{ comment.id }}/" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <div class="form-row">
      {% with comment.get_argue_form as form %}
      <label for="id_title">Title</label>
      <div>{{ form.title }}</div>
      <label for="id_comment">Argument</label>
      <div>{{ form.argument }}</div>
      <div>{{ form.parent_id }}</div>
      {% endwith %}
      <div>
	<input type="submit" value= "Debate" />
	<button onclick="$('#argue{{ comment.id }}').slideToggle(); return false;" name="cancel">Cancel</button>
      </div>
    </div>
  </form>
</div>
{% endifnotequal %}
