<div id = "comment-menu{{ comment.id }}" class="comment-menu">

  <a id="collapse{{ comment.id }}" class="menu" href="javascript:collapse('#comment_div{{ comment.id }}', 0);">[-]</a>
  <a id="permalink{{ comment.id }}" class="menu" href="{{ comment.get_absolute_url }}">permalink</a>
  {% if comment.removed %}

  {% ifequal user comment.user %}
  <a id="undelete{{ comment.id}}" href='#' class="menu comment-menu" onclick="delete_comment('{{ comment.id }}'); return false;">undelete</a>
  {% endifequal %}

  {% else %}
  
  {% with comment.get_viewable_arguments as num %}
  <a class="menu {% ifnotequal num 0 %}hotargs{% endifnotequal %}" href="/comments/{{ comment.id }}/arguments/">{{ num }} debate{{ num|pluralize }}</a>
  {% endwith %}
  
  {% if user.is_authenticated %}  
  
  <a class="menu" href='#' class="comment_action"
     onclick="displayFormComment('#reply{{ comment.id }}'); return false;">reply</a>

  
  {% ifequal user comment.user %}
  
  <a class="menu" href='#' class="comment_action"
     onclick="displayFormComment('#edit{{ comment.id }}'); return false;">edit</a>


  <span class="menu" id="delete{{ comment.id }}">
    <a class="menu" href='#' class="comment_action"
       onclick="swap('#delete{{ comment.id }}', '#confirm_delete{{ comment.id }}'); return false;">delete</a>
  </span>

  <span id="confirm_delete{{ comment.id }}" class="comment_action confirm">
    are you sure? <a href='#' onclick="delete_comment('{{ comment.id }}'); swap('#delete{{ comment.id }}', '#confirm_delete{{ comment.id }}'); return false;">yes</a> / <a href='#' onclick="swap('#delete{{ comment.id }}', '#confirm_delete{{ comment.id }}'); return false;">no</a>
  </span>


  {% else %}

  <a class="menu" href='#' class="comment_action"
     onclick="displayFormComment('#argue{{ comment.id }}'); return false;">debate</a>

  {% endifequal %}
  {% endif %}
  
  {% endif %}
</div>

{% if user.is_authenticated %}  
{% if not comment.removed %}
<div id="action_block{{ comment.id }}" class="action_block">
  {% include "comments/reply_form.html" %}
  {% include "comments/edit_form.html" %}
  {% include "comments/argue_form.html" %}
</div>
{% endif %}
{% endif %}
