{% ifequal user comment.user %}
<form action="/comments/delete/" name="delete{{ comment.id }}" method="post" accept-charset="utf-8">
  <div><input type="hidden" name="comment_id" value={{ comment.id }}></div>
  <div><input type="hidden" name="referring_page" value="{{ request.path }}"></div>
</form>
{% endifequal %}
{% if not comment.is_removed %}
<div class="comment-menu">

  <a id="collapse{{ comment.id }}" class="menu" href="javascript:collapse('#comment_div{{ comment.id }}', 0);">[-]</a>

  <a class="menu" href="/comments/{{ comment.id }}/arguments/">({{ comment.arguments.count }}) argument{{ comment.arguments.count|pluralize }}</a>

  
  {% if user.is_authenticated %}  

  <a class="menu" href='#' class="comment_action"
     onclick="displayFormComment('#reply{{ comment.id }}'); return false;">reply</a>

  
  {% ifequal user comment.user %}

  <a class="menu" href='#' class="comment_action"
     onclick="displayFormComment('#edit{{ comment.id }}'); return false;">edit</a>



  <a class="menu" href='#' class="comment_action"
     onclick="displayFormComment('#confirm_delete{{ comment.id }}'); return false;">delete</a>


  {% else %}

  <a class="menu" href='#' class="comment_action"
     onclick="displayFormComment('#argue{{ comment.id }}'); return false;">argue</a>

  {% endifequal %}
  {% endif %}
</div>

<div id="action_block{{ comment.id }}" class="action_block">
  {% include "comments/reply_form.html" %}
  {% include "comments/edit_form.html" %}
  {% include "comments/argue_form.html" %}
</div>
{% endif %}
