{% extends "base.html" %}
{% block title %}Debates for Comment {{ comment.id }}{% endblock %}

{% block content %}
<span class="comment_info">
  submitted by <a href="/users/u/{{ comment.user }}/profile/">{{ comment.user }}</a> {{ comment.get_elapsed }} ago
</span>
<div class="firstcomment">
  {{ comment.comment_html|safe }}
</div>

<h4>Debates for this comment</h4>
{% include "items/arg_list.html" %}


<div class="pages">
  {% if page_obj.has_previous %}
  <a id="prev" href="/comments/{{ comment.id}}/arguments/{{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}
  {% if page_obj.has_next %}
  <a id="next" href="/comments/{{ comment.id}}/arguments/{{ page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>


{% endblock %}
