{% ifequal user comment.user %}
<div id="edit{{ comment.id }}" class="comment_action">
  <form action="/comments/{{ comment.ntopic.id }}/edit/" method="post" accept-charset="utf-8">
    <div class="form-row">
      <label for="id_comment">Posting as {{ user }}</label>
      <br /><textarea rows=5 cols=50 name="comment">{{ comment.comment }}</textarea>
      <div><input type="hidden" name="parent_id" value={{ comment.id }}></div>
      <div>
	<button onclick="$('#edit{{ comment.id }}').slideToggle(); return false;" name="cancel">Cancel</button>
	<input type="submit" value= "Edit">
      </div>
    </div>
  </form>
</div>

{% endifequal %}
