{% ifequal user comment.user %}
<a href='#' onclick="displayFormComment('edit{{ comment.id }}'); return false;">edit</a>
<div id="edit{{ comment.id }}">
  <form action="/comments{{ next }}edit/" method="post" accept-charset="utf-8">
    <div class="form-row">
      <label for="id_comment">Posting as {{ user }}</label>
      <br /><textarea rows=5 cols=50 name="comment">{{ comment.comment }}</textarea>
      <div><input type="hidden" name="parent_id" value={{ comment.id }}></div>
      <div><input type="submit" value= "Edit"></div>
    </div>
  </form>
  <script type="text/javascript" charset="utf-8">
    document.getElementById('edit{{ comment.id }}').style.display="none"
  </script>
</div>
{% endifequal %}
  
