Django==1.11.28
Markdown==2.3.1
MySQL-python==1.2.4
Pygments==1.6
South==0.8.2
argparse==1.2.1
## FIXME: could not find svn URL in dependency_links for this package:
elementtree==1.2.6-20050316
gunicorn==19.5.0
requests==2.0.0
tweepy==2.1
wsgiref==0.1.2
