{% extends "base.html" %}
{% block title %}Feedback{% endblock %}

{% block content %}

<div class="form">
  <p>
    We welcome your feedback! Please send your comments and questions to <a href="mailto:feedback@greaterdebater.com">feedback@greaterdebater.com</a>
  </p>

  <p>
    Thank you!
  </p>
</div>

{% comment %}
<div class="form">
  <form action="/users/feedback/" method='post'>
    {% csrf_token %}
    {% if form.error_dict %}
    <p class="error">Please correct the errors below</p>
    {% endif %}
    <table>
      {{ form }}
      <tr>
	<td></td>
	<td>
	  <input type="Submit" value="Send" />
	</td>
      </tr>
    </table>
  </form>
</div>
{% endcomment %}
{% endblock %}
	
