{% extends "base.html" %}
{% block title %}Login{% endblock%}

{% block bodyatt %}
onLoad="document.forms.login.email.focus()"
{% endblock %}

{% block content %}
{% if form.errors %}
<p class="error">Sorry, that's not a valid username or password</p>
{% endif %}
{% if message %}
<p>{{ message }}</p>
{% endif %}

<div class="login-form">
  <form action="/users/login/" name="login" method='post'>
    <table>
      {{ form }}
      <tr>
	<td><input type="hidden" name="next" value={{ redirect|escape }} /></td>
	<td><input type="submit" value="Login" /></td></tr>
    </table>
  </form>
  <p>
    <a href="/users/forgot">Forgot Password?</a>
  </p>
</div>
{% endblock %}
