{% extends "base.html" %}
{% block title %}TCD Login{% endblock%}

{% block content %}
{% if form.errors %}
<p class="error">Sorry, that's not a valid username or password</p>
{% endif %}
{% if message %}
<p>{{ message }}</p>
{% endif %}

<form action='.' method='post'>
  <table>
    {{ form }}
        <tr>
      <td></td>
      <td></td>
      <td><input type="submit" value="Login" /></td>
      <td><input type="hidden" name="next" value={{ next|escape }} /></td></tr>
  </table>
</form>
{% endblock %}
