{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block bodyatt %}
onLoad="document.forms.register.username.focus()"
{% endblock %}

{% block content %}
<h3>Create an account</h3>
<form action="." method="post" name="register">
  {% csrf_token %}
  {% if form.error_dict %}
  <p class="error">Please correct the errors below.</p>
  {% endif %}
  <table>
    {{ form }}
    <tr>
      <td><input type="hidden" name="next" value={{ redirect|escape }} /></td>
      <td><input type="submit" value="Create account" /></td></tr>
  </table>
</form>
{% endblock %}
