{% extends "registration/profile/profile_base.html" %}
{% block title %} {{ comment.subject }} {% endblock %}

{% block content %}
<div class="comment-menu">
  <ul class="flat-list">
    <li>
      <a href="/users/messages/">Back to messages</a>  
    </li>
    |
    <li id="delete">
      <a href="#" onclick="delete_current_message({{ comment.id }}); return false;">Delete</a>
    </li>    
</div>
<h4>{{ comment.subject }}</h4>
<div id="comment_div{{ comment.id }}" class="form">
  <span id= "comment_info{{ comment.id }}" class="comment_info"> from <a href="/users/u/{{ comment.user }}/profile/">{{ comment.user }}</a> {{ comment.get_elapsed }} ago</span>
  <div id="commentp_div{{ comment.id }}">
    {{ comment.comment_html|safe }}
  </div>
</div>

  <ul class="next-prev comment-menu">
    {% if next %}
    <li>
      <a href="/users/u/{{ user.username }}/messages/{{ next }}">Next Message</a>
    </li>
    {% endif %}

    {% if prev %}
    <li>
      <a href="/users/u/{{ user.username }}/messages/{{ prev }}">Previous Message</a>
    </li>
    {% endif %}
  </ul>
{% endblock %}
