{% extends "registration/profile/profile_base.html" %}
{% block title %} {{ comment.subject }} {% endblock %}

{% block content %}
<h4>{{ comment.subject }}</h4>
<div id="comment_div{{ comment.id }}" class="form">
  <br />
  <span id= "comment_info{{ comment.id }}" class="comment_info"> from <a href="/users/u/{{ comment.user }}/profile/">{{ comment.user }}</a> {{ comment.get_elapsed }} ago</span>
  <div id="commentp_div{{ comment.id }}">
    {{ comment.comment_html|safe }}
  </div>
</div>
{% endblock %}
