{% extends "base.html" %}
{% block title %}{{ username }}'s profile{% endblock %}

{% block sub_header %}
<span class="sub_header">
  <ul class="flat-list">
    {% ifequal user username %}    
    <li><a href="/users/{{ username }}/settings">Settings</a></li>
    <li><a href="/users/{{ username }}/messages">Messages</a></li>
    {% endifequal %}
    <li><a href="/users/{{ username }}/arguments">Arguments</a></li>
    <li><a href="/users/{{ username }}/submissions">Submissions</a></li>
    <li><a href="/users/{{ username }}/comments">Comments</a></li>
  </ul>
</span>
<h3>{{ username }}'s profile </h3>
<br />
{% endblock %}

{% block content %}
{% endblock %}
