{% extends "registration/profile/profile_base.html" %}

{% block title %}{{ username }}'s comments{% endblock %}


{% block content %}
<h4>Comments</h4><br />
{% for comment in comments_list %}
<p class=comment_topic>
on <a href="/{{ comment.topic_id }}/">{{ comment.topic.title }}</a>
</p>
<div id="comment{{ comment.id }}" class="comment_div">
  {% include "comments/one_comment.html" %}
  {% include "comments/comment_actions.html" %}
  {% if comment.is_removed %}
  <a href='#' onclick="document.delete{{ comment.id }}.submit(); return false;">undelete</a>
  {% endif %}
</div>
{% endfor %}

{% if has_previous %}
<a href="/{{ username }}/comments/{{ previous }}">prev</a>
{% endif %}

{% if has_next %}
<a href="/{{ username }}/comments/{{ next }}">next</a>
{% endif %}

{% endblock %}
