{% extends "registration/profile/profile_base.html" %}

{% block title %}{{ username }}'s messages{% endblock %}


{% block content %}
<h4>Messages</h4><br />
<table>
  <tr>
    <td width=50>From</td>
    <td width=200>Subject</td>
    <td width=50>Date</td></tr>
  {% for msg in messages_list %}

    <tr>
      <td>
	{{ msg.user }}</td>
      <td>
	{% ifequal msg.is_read 0 %}<strong>{% endifequal %}
	<a href=/{{ user.username }}/messages/{{ msg.comment_ptr_id }}>{{ msg.subject }}</a></td>
        {% ifequal msg.is_read 0 %}</strong>{% endifequal %}    
      <td>
	{{ msg.pub_date }}</td></tr>

{% endfor %}
</table>
{% endblock %}
