{% extends "registration/profile/profile_base.html" %}

{% block title %}{{ username }}'s submissions{% endblock %}

{% block content %}
<h4>Submissions</h4><br />
{% if topics_list %}
<ul>
  {% for object in topics_list %}
  <li><a href={{ object.url }}>{{ object.title }}</a> <br>
      <ul id="topic_info{{ object.id }}" class="comment-action-list">
	<li>submitted by <a href= /{{ object.user }}>{{ object.user }}</a></li>
	<li>{{ object.get_elapsed }} ago</li>
	<li>{% with object.comment_set.count as num %}
	  <a href = "/{{ object.id }}">({{ num }}) comment{{ num|pluralize }}</a>
	  {% endwith %}</li>
	{% ifequal request.user object.user %}
	<li><a href="/edit/{{ object.id }}/">Edit</a></li>
	{% endifequal %}
      </ul>      
  </li>
  {% endfor %}
</ul>

{% if has_previous %}
<a href="/users/u/{{ username }}/submissions/{{ previous }}">prev</a>
{% endif %}

{% if has_next %}
<a href="/users/u/{{ username }}/submissions/{{ next }}">next</a>
{% endif %}

{% else %}
<p>No topics are available</p>
{% endif %}
{% endblock %}



