{% extends "registration/profile/profile_base.html" %}

{% block title %}{{ username }}'s debates{% endblock %}

{% block content %}
<h3 class="prof-head">Pending Debates</h3>
{% with pending as args_list %}
{% include "items/arg_list.html" %}
{% if more_pending %}
<a class="more" href="/users/u/{{ username }}/arguments/pending/">All Pending Debates...</a>
{% endif %}
{% endwith %}


<h3 class="prof-head">Active Debates</h3>
{% with current as args_list %}
{% include "items/arg_list.html" %}
{% if more_current %}
<a class="more" href="/users/u/{{ username }}/arguments/current/">All Active Debates...</a>
{% endif %}
{% endwith %}



<h3 class="prof-head">Completed Debates</h3>
{% with complete as args_list %}
{% include "items/arg_list.html" %}
{% if more_complete %}
<a class="more" href="/users/u/{{ username }}/arguments/complete/">All Completed Debates...</a>
{% endif %}
{% endwith %}


{% endblock %}
