{% extends "registration/profile/profile_base.html" %}

{% block title %}{{ username }}'s Topics{% endblock %}

{% block content %}
<h3 class="prof-head">Topics</h3>
{% if topics_list %}
<ol class="topic-list" start={{ page_obj.start_index }}>
  {% for object in topics_list %}
  <li> 
    <div id="topic_div{{ object.id }}">
      <a class="title" href={{ object.url }} {% if newwin %}target="_blank"{% endif %}>{{ object.title }}</a> <br />
      <div class="topic-menu">
	submitted by <a href="/users/u/{{ object.user }}/profile/">{{ object.user }}</a>
	{{ object.get_elapsed }} ago | 
	{% with object.com_count as num %}
	<a href="/{{ object.id }}" {% if newwin %}target="_blank"{% endif %}>{{ num }} comment{{ num|pluralize }}</a>
	{% endwith %}
	{% ifequal request.user object.user %}
	| <a href="/edit/{{ object.id }}/">edit</a>
	<span id="delete_link{{ object.id }}">
	  | <a href="#" onclick="swap('#delete_link{{ object.id }}', '#confirm_delete{{ object.id }}'); return false;">delete</a>
	</span>
	<span class="confirm" id="confirm_delete{{ object.id }}">
	  | Sure? Can't undo. <a href="#" onclick="delete_topic({{ object.id }}); swap('#delete_link{{ object.id }}', '#confirm_delete{{ object.id }}'); return false;">Yes</a> 
	  / <a href="#" onclick="swap('#delete_link{{ object.id }}', '#confirm_delete{{ object.id }}'); return false;">No</a>
	</span>
	{% endifequal %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% include "pagediv.html"%}

{% else %}
<p>No topics are available</p>
{% endif %}
{% endblock %}



