{% extends "registration/profile/profile_base.html" %}

{% block title %}{{ username }}'s messages{% endblock %}


{% block content %}
<h4>Messages</h4><br />
<table>
  <tr>
    <td width=50>From</td>
    <td width=200>Subject</td>
    <td width=150>Date</td></tr>
  {% if messages_list %}
  {% for msg in messages_list %}
    <tr class="{% ifequal msg.is_read 0 %}unread_msg{% else %}read_msg{% endifequal %}">
      <td>
	{{ msg.user }}</td>
      <td>
	<a href="/{{ user.username }}/messages/{{ msg.comment_ptr_id }}">{{ msg.subject }}</a></td>
      <td>
	{% ifequal msg.pub_date.date msg.pub_date.today.date %}
	{{ msg.pub_date.time }} Today
        {% else %}
	{{ msg.pub_date.date }}
        {% endifequal %}
	</td></tr>
    {% endfor %}
    {% else %}
    </table>
<p>No messages</p>
    {% endif %}
</table>
{% endblock %}
