{% extends "base.html" %}
{% block title %}{{ username }}'s profile{% endblock %}

{% block sub_header %}
<div class="sub_header">

    {% ifequal user username %}    
    <a class="menu" href="/users/u/{{ username }}/settings">Settings</a> |
    <a class="menu" href="/users/u/{{ username }}/messages">Messages</a> |
    {% endifequal %}
    <a class="menu" href="/users/u/{{ username }}/arguments">Arguments</a> |
    <a class="menu" href="/users/u/{{ username }}/submissions">Submissions</a> |
    <a class="menu" href="/users/u/{{ username }}/comments">Comments</a>

</div>
<h3>{{ username }}'s profile </h3>
{% endblock %}

{% block content %}

{% endblock %}
