{% extends "registration/profile/profile_base.html" %}

{% block title %}{{ username }}'s submissions{% endblock %}

{% block content %}
<h4>Submissions</h4>
{% if topics_list %}
<ul class="topic-list">
  {% for object in topics_list %}
  <li><a href={{ object.url }}>{{ object.title }}</a> <br>
    <div class="comment-menu">
	submitted by <a href="/users/u/{{ object.user }}/profile/">{{ object.user }}</a>
	{{ object.get_elapsed }} ago | 
	{% with object.comment_set.count as num %}
	  <a href = "/{{ object.id }}">({{ num }}) comment{{ num|pluralize }}</a>
	  {% endwith %}
	{% ifequal request.user object.user %}
	| <a href="/edit/{{ object.id }}/{{ page }}">Edit</a>
	{% endifequal %}
    </div>
  </li>
  {% endfor %}
</ul>

{% if has_previous %}
<a href="/users/u/{{ username }}/submissions/{{ previous }}">prev</a>
{% endif %}

{% if has_next %}
<a href="/users/u/{{ username }}/submissions/{{ next }}">next</a>
{% endif %}

{% else %}
<p>No topics are available</p>
{% endif %}
{% endblock %}



