{% extends "registration/profile/profile_base.html" %}

{% block title %}{{ username }}'s comments{% endblock %}


{% block content %}
<h4>Comments</h4><br />

<div id="comments">
  {% for comment in comments_list %}
  <p class=comment_topic>
    on <a href="/{{ comment.topic_id }}/">{{ comment.topic.title }}</a>
  </p>
  <div id="comment_div{{ comment.id }}" class="comment_div">
    {% include "comments/one_comment.html" %}    
  </div><br />
  {% endfor %}
</div>

{% if has_previous %}
<a href="/users/u/{{ username }}/comments/{{ previous }}">prev</a>
{% endif %}

{% if has_next %}
<a href="/users/u/{{ username }}/comments/{{ next }}">next</a>
{% endif %}

{% endblock %}
