{% extends "registration/profile/profile_base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<h3>Reset Password</h3>
<form action="." method="post">
  {% if form.errors %}
  <p class="error">Please correct the errors below</p>
  {% endif %}
  <table>
    {{ form }}
    <tr>
      <td><input type="hidden" name="username" value="{{ request.user.username }}" /></td>
      <td><input type="submit" value="Reset Password" /></td>
    </tr>
  </table>
</form>     
{% endblock %}
