{% extends "blogtemplates/base.html" %}
{% block title %}{{ blog.title }}{% endblock %}
{% block content %}

{% if post_list %}
{% for post in post_list %}
<div id="post{{ post.id }}">
  <H1>{{ post.title }}</H1>
  <DIV class="descr">{{ post.pub_date|date }} by {{ blog.author }}</DIV>
  {{ post.html|truncatewords_html:100|safe }}
  <p><a href="/blog/{{ blog.author }}/post/{{ post.id }}">more...</a></p>

  {% ifequal request.user blog.author %}
  <p>
    <a href="/blog/{{ blog.author }}/edit/{{ post.id }}"><button>Edit</button></a>
  </p>
  {% endifequal %}
</div>

{% endfor %}
{% else %}
Hi {{ request.user.username }}! Nothing in the archive yet.
{% endif %}
{% endblock %}
