{% extends "blogtemplates/base.html" %}
{% block title %}{{ blog.title }}{% endblock %}
{% block content %}

{% if topfive %}
{% for post in topfive %}
<div class="postsummary">
  <a href="/blog/{{ blog.author.username }}/post/{{ post.id }}"><H1>{{ post.title }}</H1></a>
  <DIV class="descr">{{ post.pub_date|date }} by {{ blog.author }}</DIV>
  {{ post.html|truncatewords_html:100|safe }}
  <a href="/blog/{{ blog.author.username }}/post/{{ post.id }}">more...</a>
</div>
{% endfor %}
{% else %}
Hi {{ request.user.username }}! It looks like {{ blog.author }} hasn't posted anything yet.
{% endif %}
{% endblock %}
