{% extends "blogtemplates/base.html" %}

{% block title %}
Edit {{ post.title }} | {{ blog.title }}
{% endblock %}

{% block content %}

<h1 id="title">{{ post.title }}</h1>

<form method='post' id="postform">
  <table>
    {{ form }}
    <tr>
      <th></th>
      <td>
	<button onclick="submit_form('{{ blog.author }}', 'save'); return false;" 
		  name="save">Save Draft</button>
	{% if post.id %}
	<button onclick="submit_form('{{ blog.author }}', 'preview'); return false;"
		name="preview">Preview</button>

	<span id="delete">
	  <a href="#" onclick="swap('#delete','#confirm_delete'); return false">Delete this post</a>
	</span>
	<span id="confirm_delete" class="confirm">
	  Are you sure? <a href="#" onclick="delete_post('{{ blog.author.username }}', {{ post.id }}); return false;">Yes</a> or <a href="#" onclick="swap('#delete','#confirm_delete'); return false">No</a>?
	</span>
	{% endif %}
      </td>
      <td>
	<span id="publish">
	  <button onclick="swap('#publish','#confirm_publish'); return false;"
		   name="publish">Publish</button>
	</span>
	<span id="confirm_publish" class="confirm">
	  Are you sure? <a href="#" onclick="submit_form('{{ blog.author.username }}', 'publish'); return false;">Yes</a> or <a href="#" onclick="swap('#publish','#confirm_publish'); return false">No</a>?
	</span>
      </td>
    </tr>
  </table>

</form>



{% endblock %}
