{% extends "blogtemplates/base.html" %}

{% block head %}
<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}blog.js"></script>
{% endblock %}

{% block title %}
Edit {{ post.title }} | {{ blog.title }}
{% endblock %}

{% block content %}

<h2 id="title">{{ post.title }}</h2>


<form method='post' id="postform" action="/blog/{{ blog.author.username }}/new/">
  {% csrf_token %}
  <table>
    {{ form }}
    <tr>
      <th></th>
      <td>
	<input type="submit" name="save" value="Save Draft" />
      </td>
    </tr>
  </table>

</form>



{% endblock %}
