{% extends "blogtemplates/base.html" %}

{% block title %}{{ post.title }} | {{ blog.title }}{% endblock %}

{% block content %}

<H1>{{ post.title }}</H1>

<DIV class="descr">{{ post.pub_date|date }} by {{ blog.author }}</DIV>

{{ post.html|safe }}

<a href="http://www.greaterdebater.com/submit" onclick="window.location =
    'http://www.greaterdebater.com/submit?url=' +
    encodeURIComponent(window.location)
    + '&title=' + encodeURIComponent(document.title); return false;">Debate It!</a>

{% endblock %}
