{% extends "blogtemplates/base.html" %}

{% block title %}
Edit {{ post.title }} | {{ blog.title }}
{% endblock %}

{% block content %}

<h1 id="title">{{ post.title }}</h1>

<form method='post' id="#postform">
  <table>
    {{ form }}
    <tr>
      <td></td>
      <td><button onclick="submit_form('{{ blog.author }}', 'save'); return false;" 
		  name="save">Save Draft</button></td>
      <td><button onclick="submit_form('{{ blog.author }}', 'publish'); return false;" 
		  name="publish">Publish</button></td>
    </tr>
  </table>
</form>



{% endblock %}
