body {
font-family: verdana;
margin-left: 5px;
}

p.commentp {
margin-top: 0px;
margin-bottom: 0px;
margin-left: 5px;
width: 40%;
}

p.comment_topic {
margin-top: 0px;
margin-bottom: 0px;
margin-left: 5px;
font-size: small;
}  

tr.unread_msg {
font-weight: bold
}

tr.read_msg {
font-weight: normal
}

ul.flat-list {
list-style-type: none;
margin: 0;
padding: 0;
}

ul.flat-list li {
padding-right: 10px;
display: inline;
}

ul.comment-action-list {
list-style-type: none;
margin: 0;
padding: 0;
}

ul.comment-action-list li {
margin-right: 5px;
display: inline;
font-size: small;
}

ul.comment-action-list a {
text-decoration: none;
}

a.unread {
font-weight: bold
}

span.comment_info {
font-size: small;
}    

span.comment_info a {
text-decoration: none;
}    

div.comment_div {
margin-bottom: 10px;
}

div.topic_info {
margin-bottom: 10px;
font-size: small;
}    

div.arg_list {
margin-left: 10px;
}   

ol.topic-list li{
margin-bottom: 10px;
}

hr.topic {
width: 60%;
text-align: left; /* align left for IE */
margin: 0 auto 0 0; /* align left for Mozilla */
}