body {
font-family: Verdana;
height: 100%;
}

body a{
text-decoration: none;
}

.wrapper {
min-height: 100%;
margin-bottom: -100;
position: relative;
}

.footer {
height: 100px;
text-align: center;
position: relative;
}    

.clearfooter {
height: 100px;
clear: both;
}

div.title {
width: 90%;
}

p.commentp {
margin-top: 5px;
margin-bottom: 5px;
margin-left: 5px;
width: 90%;
}

p.comment_topic {
margin-top: 0px;
margin-bottom: 0px;
margin-left: 5px;
font-size: small;
}  

p#other-args {
margin: 0 0 0 0;
font-size: small;
}

ul.flat-list {
list-style-type: none;
margin-left: 1px;
list-style-position: outside;
}

ul.flat-list li {
margin-right: 5px;
margin-left: 5px;
display: inline;
}

ul.comment-action-list {
list-style-type: none;
}

ul.comment-action-list li {
margin-right: 2px;
margin-left: 2px;
display: inline;
font-size: small;
}

ul.comment-action-list a {
text-decoration: none;
}

a.unread {
font-weight: bold
}

tr.unread_msg {
font-weight: bold
}

tr.read_msg {
font-weight: normal
}

span.comment_info {
font-size: small;
}    

span.comment_info a {
text-decoration: none;
}    

div.comment_div {
margin-bottom: 10px;

}

div.topic_info {
margin-bottom: 10px;
font-size: small;
}    

div.arg_list {
margin-left: 10px;
}   

ol.topic-list li{
margin-bottom: 10px;
}

hr.topic {
width: 60%;
text-align: left; /* align left for IE */
margin: 0 auto 0 0; /* align left for Mozilla */
}

div#add-comment {
margin-top: 20px;
}  

div.comment_action {
display: none;
}

a.title {
font-size: large
}    

.menu {
margin-left: 2px;
margin-right: 4px;
}

div.comment-menu {
font-size: small;    
}

div#topmenu {
text-align: left;   
float: left;
width: 60%
}

div#login {
width: 40%;
float: right;
text-align: right;
}    

div#content {
width: 60%;
float: left;
}

div#ads {
width: 40%;
float: right;
outline-style: solid;
outline-width: 1px;
}

p#adsp {
margin-right: 20px;
margin-left: 20px;
text-align: center;
}    

div#content-wrapper {
margin-top: 20px;
}