<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
<script type="text/javascript" charset="utf-8">
	function displayFormComment(form_id) {
		c=document.getElementById(form_id)
		if (c.style.display == "none") {
			c.style.display="block"
		} else {
			c.style.display = "none"
		}
	}		
</script>
<link rel="stylesheet" type="text/css" href="http://zoidberg/static/tcdstyle.css" />
</head>
<body>
  {% block header %}
  <ul class="flat-list">
    <li><a href="/">Home</a></li>
    <li><a href="/submit">Submit</a></li>
    <li><a href="/argue">Arguments</a></li>
    {% if user.is_authenticated %}
    <li>Welcome <a href="/{{ user.username }}">{{ user.username }}</a>!</li> 
    <li><a href="/logout">Log out</a></li>
    {% else %}
    <li><a href="/login?next={{ next }}">Log in</a> or <a href="/register?next={{ next }}">create an account</a></li>
    {% endif %}
  </ul>
  <br />
    {% if messages %}
  <p class="sys_messages">
    <ul class="sys_msg_lst">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </p>
    {% endif %}
  {% endblock %}

  {% block sub_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}
</body>
</html>
