<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
{% include "specific_base.html" %}
</head>
<body>
  {% block header %}
  <ul class="flat-list">
    <li><a href="/">Hot</a></li>
    <li><a href="/new">New</a></li>
    <li><a href="/submit">Submit</a></li>
    <li><a href="/argue">Arguments</a></li>
    {% if user.is_authenticated %}
    <li>Welcome <a href="/users/u/{{ user.username }}/profile/">{{ user.username }}</a>!</li> 
    <li><a href="/users/logout">Log out</a></li>
    {% else %}
    <li><a href="/users/login?next={{ request.path }}">Log in</a> or <a href="/users/register?next={{ redirect }}">create an account</a></li>
    {% endif %}
  </ul>
  <br />
    {% if messages %}
  <p class="sys_messages">
    <ul class="sys_msg_lst">
      {% for message in messages %}
      <li>{{ message|safe }}</li>
      {% endfor %}
    </ul>
  </p>
    {% endif %}
  {% endblock %}

  {% block sub_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}
</body>
</html>
