{% extends "base.html" %}


{% block title %}Help{% endblock %}

{% block content %}
<h2>Help</h2>

<ul id="help-contents">
  <li>
    Topics
    <ul>
      <li>
	Submitting
      </li>
      <li>
	Editing
      </li>
    </ul>
  </li>
  <li>
    Comments
    <ul>
      <li>
	Submitting
      </li>
      <li>
	Replying
      </li>
      <li>
	Editing
      </li>
    </ul>
  </li>
  <li>
    Arguments
    <ul>
      <li>
	Overview
      </li>
      <li>
	Starting
      </li>
      <li>
	Voting
      </li>
      <li>
	Draws
      </li>
      <li>
	Conceding
      </li>
    </ul>      
  </li>
</ul>
{% endblock %}
