<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Setting up TCD</title>
    <style type="text/css">
    body {
	font-family: verdana;
	text-align: left;
	width: 75%;
    }

    pre.command {
	font-family: monospace;
	font-weight: bold;
	font-size: 110%;
	text-align: left;
	border: thin solid rgb(0,0,0);
	width: 100%;
	line-height: normal;
	padding: 1%;
	margin: 1% 0 1% 2%;
	text-align: left;
	background-color: #CCCCCC;
    }
    
    li {
	margin-bottom: 40px;
    }

    ol.toc li {
	margin-bottom: 10px;
    }
    
    p#important {
	background-color: red;
	text-align: center;
	font-weight: bold;
    }      
    
    a.btt {
	font-size: small;
    }
    </style>

    <script type="text/javascript">
    function maketoc() {
	allh3 = document.getElementsByTagName('h3');
	insBefore = document.getElementById("start");
	toc = document.createElement('ol');
	toc.setAttribute("class", "toc");
	for (var i = 0; i < allh3.length; i++) {
	    sectionnumber = i + 1;
	    // make a bookmark anchor at the h3 heading
	    sectionlink = document.createElement('a');
	    sectionlink.name = "section" + sectionnumber;
	    allh3[i].parentNode.insertBefore(sectionlink, allh3[i]);			  
	    
	    // add a "Back to Top" link
	    btt = document.createElement('a');
	    btt.href = "#top";
	    btt.innerHTML = "Back To Top";
	    btt.setAttribute("class", "btt");
	    allh3[i].parentNode.appendChild(btt);
	    
	    
	    // add a link to the bookmark to the table of contents
	    thisli = document.createElement('li')
	    toclink = document.createElement('a');
	    toclink.href = "#section" + sectionnumber;
	    toclink.innerHTML = allh3[i].innerHTML;
	    thisli.appendChild(toclink);
	    toc.appendChild(thisli);
	}
	insBefore.parentNode.insertBefore(toc, insBefore);
    }
    </script>
  </head>

  <body onload="maketoc()">
    <a name="top"></a>
    <h1>Setting up TCD</h1>
    <h2>Table of Contents</h2>
    <h2 id="start">Instructions</h2>
    <ol id="instructions">
      <li>
	<h3>Setup SSH access to kotsf.dynip.com </h3>
	<p>
	  The first step is to setup a public and private key for
	  yourself so that you can access the server via ssh without
	  entering your password. This will make it much easier to
	  push and pull changes from the source code repository on the
	  server.
	</p>

	<p>	  
	  Open a terminal and type:
	</p>
		
	<pre class="command">ssh -p 19999 matt@kotsf.dynip.com</pre>

	<p>
	  Enter your password when prompted. You're now logged in to
	  the server.  Commands entered in this terminal window will
	  be executed on the server instead of on your laptop.  The
	  command prompt should change to show something like this:
	</p>	  
	<pre class="command">matt@zoidberg:~$</pre>
	<p>
	  Open a new terminal window. This one will be used for
	  executing commands on your laptop. This command prompt will
	  probably look something like this: 
	</p>
	<pre class="command">matt@matt-laptop:~$</pre>
	<p>
	  (Assuming "matt-laptop"
	  is what your computer is named)<br />
	  Very importantly:
	</p>
	<p id="important">
	  Take care to enter commands into the correct terminal.
	</p>
	<p>
	  In the terminal on your local PC (matt-laptop) first make a
	  new directory inside your home folder and then navigate to
	  it.
	</p>

	<pre class="command">mkdir ~/.ssh
cd ~/.ssh</pre>
	
	<p>
	  Enter the command below in your laptop terminal window.
	</p>
	

	<pre class="command">ssh-keygen -t rsa</pre>
	<p>
	  You'll be prompted to enter a password. Press enter to skip
	  this and press enter again when prompted to re-enter the
	  password. This command  will create two files in this
	  directory. The first file <b>id_rsa</b> is your private
	  key. Keep this file on your local pc and don't share it with
	  anyone. The other file <b>id_rsa.pub</b> is your public
	  key. You'll put a copy of this on the server. When
	  connecting to the the server from your laptop the server
	  will compare your public and private keys and verify that
	  you're actually you without needing you to enter your login
	  and password. 
	</p>
	
	<p>
	  Enter the command below to copy your public key from your
	  laptop to the server.
	</p>

	<pre class="command">scp -P 19999 ~/.ssh/id_rsa.pub matt@kotsf.dynip.com:/home/matt</pre>
	
	<p>
	  The command <b>scp</b> is like <b>ssh</b> except insteas of
	  establishing a shell connection with the server, it copies
	  files back and forth. Take note that the argument <b>-P</b>
	  specifying the port to use to connect to the server is a
	  CAPITAL "P". I'm not sure why this is different
	  than <b>ssh</b>, but it's the kind of thing that can trip
	  you up.
	</p>

	<p>
	  Now switch to the terminal on the
	  server. (<b>matt@zoidberg:~$</b>) First we need to make a
	  new .ssh directory here, then move your public key into a
	  file named <b>authorized_keys</b> inside that directory.
	</p>

	<pre class="command">mkdir /home/matt/.ssh
mv /home/matt/id_rsa.pub /home/matt/.ssh/authorized_keys</pre>

	<p>
	  You'll need to set the permissions for this
	  directory so that you'll be the only one who can edit these
	  files.
	</p>
	
	<pre class="command">chown -R matt:trusted /home/matt/.ssh
chmod 700 /home/matt/.ssh
chmod 600 /home/matt/.ssh/authorized_keys</pre>

	<p>
	  Finally, use emacs to open a file in your home directory called <b>.bashrc</b>.
	</p>
	
	<pre class="command">emacs ~/.bashrc</pre>

	<p>
	  Go to the end of this file and add the following two lines.
	</p>

	<pre class="command">export PS1='\[\033[0;35m\]\h\[\033[0;33m\] \w\[\033[00m\]: '
export EDITOR=emacs</pre>
	
	<p>
	  The first line makes it so your command prompt on the server
	  will appear in a different color. This is helpful when you
	  have multiple terminal windows open to distinguish between
	  the command prompt on the server and the one on your laptop.
	  The second line sets your default editor to emacs. Enter the
	  following command to apply these changes.
	</p>

	<pre class="command">source ~/.bashrc</pre>
      </li>
      
      <li>
	<h3>Configure Python</h3>
	<p>
	  For coding with python, you'll need to set up a directory to
	  store the code in. You'll also need to tell the Python
	  interpreter where this directory is located so it knows
	  where to look when executing your code.
	</p>

	<p>
	  First navigate to your home directory and make a new
	  directory called <b>python</b>
	</p>

	<pre class="command">cd ~
mkdir python</pre>

	<p>
	  There are several ways of letting python know you'll be
	  storing code in this directory.  One is to add the following
	  line to your .bashrc file.
	</p>

	<pre class="command">export PYTHONPATH=${PYTHONPATH}:/home/matt/python</pre>

	<p>
	  The downside of this method is that it only works for one
	  user. The .bashrc file is specific to each user who logs
	  onto the system. If we needed to add a new python code
	  location for all users on the system we could do so by
	  adding a symbolic link to python's default directory. This
	  may vary on depending on the version of python you have, but
	  it's probably something
	  like <b>/usr/lib/python2.5/site-packages</b>. We can make a
	  link here with the following commands:
	</p>

	<pre class="command">cd /usr/lib/python2.5/site-packages
sudo ln -s /home/matt/python/</pre>

	<p>
	  You'll use this method in the next step when setting up Django.
	</p>  
      </li>

      <li>
	<h3>Download and configure django.</h3>
	
	<p>
	  First you'll need to install subversion. This is the source
	  control program that the Django project uses.
	</p>

	<pre class="command">sudo apt-get install subversion</pre>

	<p>
	  Next navigate to <b>/usr/local/src/</b> and checkout the
	  django code from subversion.
	</p>

	<pre class="command">sudo svn co http://code.djangoproject.com/svn/django/trunk django-trunk</pre>
	
	<p>
	  Finally, follow the rest of the
	  directions <a href="http://docs.djangoproject.com/en/dev/topics/install/#installing-development-version">here</a>
	  to finish getting django set up. In step 3 of the directions
	  at that link, SITE-PACKAGES-DIR
	  is <b>/usr/lib/python2.5/site-packages/</b> as mentioned
	  above. Remember to add <b>sudo</b> in front of commands
	  executed outside of your home directory.
	</p>

	<p>
	  The Django project has some excellent documentation. I
	  highly recommend checking out the tutorial
	  starting <a href="http://docs.djangoproject.com/en/dev/intro/tutorial01/#intro-tutorial01">here</a>. This
	  will walk you through setting up and programming a simple
	  Django app. It should help the rest of these instructions
	  make more sense, though I'll do my best to keep them as
	  simple as possible.
	</p>
      </li>

      <li>
	<h3>Setup the tcd database in MySQL</h3>
	
	<p>
	  This program depends on having a MySql database set up with a
	  certain name, as well as a MySql user defined with the
	  correct login name and password. MySql should be installed
	  on your system and set up to run the database server program
	  automatically when the computer starts. To access the
	  database you need to start the client program from the
	  command line. When you installed MySql you created a root
	  account and password. You'll need these to login to MySql to
	  create a new user. Start the MySql client program from the
	  command line with the following command:
	</p>

	<pre class="command">mysql -u root -p</pre>

	<p>
	  This starts the MySql client program and tells it you wish
	  to login as the root user and to be prompted for a
	  password. Enter your password at the prompt. If all goes
	  well you'll find yourself at a MySql prompt, which looks like this:
	</p>
	
	<pre class="command">mysql> </pre>
	
	<p>
	  Enter the command below to create a new database.
	</p>

	<pre class="command">CREATE DATABASE tcd;</pre>
	
	<p>
	  Now we need a user named "tcd". Our Django app will login to
	  the MySql server as this user to shuffle data back and forth
	  from the database. Create that user with the command below.
	</p>
	
	<pre class="command">GRANT ALL ON tcd.* TO 'tcd@localhost' IDENTIFIED BY 'T4fgAD';</pre>
	
	<p>
	  The clause "IDENTIFIED BY..." defines the password for this
	  user. This needs to be the same password stored in
	  the <b>settings.py</b> file for our Django app, which gets
	  set up in step 8. Once this is done, you can leave the MySql
	  client program by typing "exit" at the command prompt.
	</p>

      </li>

      <li>
	<h3>Install and configure mercurial</h3>

	<p>
	  Mercurial is the source control program I'm using for this
	  project. You can download and install this program by
	  entering the following at the command line.
	</p>
	<pre class="command">sudo apt-get install mercurial</pre>
	
	<p>
	  Once this program is installed you'll need to change a
	  couple of settings. The global settings for mercurial are
	  located in a file called <b>/etc/mercurial/hgrc</b>. Open
	  this file with emacs:
	</p>
	
	<pre class="command">sudo emacs /etc/mercurial/hgrc</pre>
	
	<p>
	  and enter the following to set up the correct configuration.
	</p>

	<pre class="command"># user interface settings
[ui]
username= Matt Quinn &lt;mquinn1@gmail.com&gt;
editor=emacs
merge=meld</pre>

	<p>
	  This can go anywhere in the file. If there are already lines
	  with these variables that have different values, replace
	  them with the above.
	</p>
      </li>

      <li>
	<h3>Install Pygments</h3>
	
	<p>
	  Pygments is a python program that provides syntax
	  highlighting for code samples. In theory, someone could
	  submit a comment with a snippet of code in it to the
	  website, and it would display properly highlighted, but I
	  haven't actually tried this yet. You'll need to download and
	  install it though, or TCD won't run corrently because the
	  Python interpreter will complain that it has a dependency
	  that can't be found.  You can find the directions at the
	  Pygments <a href="http://pygments.org/">website</a>, but
	  I'll reproduce them here.
	</p>

	<p>
	  First, navigate to the python directory that you added to
	  the PYTHON_PATH, the one at <b>/home/matt/python</b>. It's
	  important to install this here, so that the interpreter
	  knows how to find it. So, once there, use mercurial to clone
	  the source code repository for Pygments.
	</p>
	
	<pre class="command">cd /home/matt/python/
hg clone http://dev.pocoo.org/hg/pygments-main pygments</pre>
	
	<p>
	  Next, run the included setup script to install Pygments.
	</p>
	
	<pre class="command">sudo python setup.py</pre>
	
	<p>
	  And that's all there is to it!
	</p>
      </li>
	  
      
      <li>
	<h3>Install python markdown</h3>
	
	<p>
	  Markdown is a lightweight syntax that allows users to
	  provide some formatting to their comments. You can read all
	  about
	  it <a href="http://en.wikipedia.org/wiki/Markdown">here</a>. TCD
	  uses this python script to parse user comments for markdown
	  syntax and translate it to HTML so it can be displayed
	  correctly on the page.
	  The <a href="http://www.freewisdom.org/projects/python-markdown/">python
	  markdown site</a>, has all the information about it, but
	  I'll include all the necessary steps for installation below.
	</p>
	
	<p>
	  Again, you'll want to install this in your python
	  directory. First download the
	  file <b>markdown-1.7.tar.gz</b> from <a href="http://pypi.python.org/pypi/Markdown/">this
	  site</a>. This will probably be saved to a folder
	  like <b>/home/matt/downloads</b> depending on where firefox
	  is instructed to save things. Assuming that's the correct
	  location, entering the following commands at the command
	  line will extract the files and install the markdown
	  program.	  
	</p>
	
	<pre class="command">cd /home/matt/python/
tar -xvvf /home/matt/downloads/markdown-1.7.tar.gz
cd markdown-1.7
sudo python setup.py</pre>
	
	<p>
	  And that should do it. Make sure to
	  replace <b>/home/matt/downloads</b> with the correct
	  location if necessary.
	</p>
      </li>

      <li>
	<h3>Clone The tcd repository</h3>
	
	<p>
	  Now that everything is in place, we can download the tcd
	  source code. This is done by cloning the repository with
	  mercurial via ssh. You'll want to store this in
	  the <b>/home/matt/python</b> folder we created earlier by
	  navigating there before cloning the repository.
	</p>

	<pre class="command">cd /home/matt/python/
hg clone ssh://matt@kotsf.dynip.com:19999//usr/local/src/tcd/</pre>
	
	<p>
	  Take note that there are TWO slashes between <b>19999</b>
	  and <b>usr</b>. This is important because a single slash
	  tells ssh that you're looking for a path relative to your
	  home directory on the server, which isn't the case.  
	</p>
	
	<p>
	  Now, there are a couple of files which aren't tracked by the
	  source code management. The reason for this is that they
	  need to be different based on whether they're on your local
	  PC or the server, because they contain specific settings for
	  the tcd app. You'll have to copy these files over manually.
	</p>

	<pre class="command">cd tcd
scp -P 19999 matt@kotsf.dynip.com:/usr/local/src/tcd/settings.py settings.py
cd templates
scp -P 19999 matt@kotsf.dynip.com:/usr/local/src/tcd/templates/specific_base.html specific_base.html</pre>
	
	<p>
	  Now that you have these files. there are a couple of changes
	  you'll need to make so that they'll work on your
	  system. First open <b>settings.py</b>. Look for the entries
	  below and change them to these values.
	</p>
	<pre class="command">MEDIA_ROOT = 'home/matt/python/tcd/static/'
MEDIA_URL = 'http://localhost/static/'

TEMPLATE_DIRS= (
"/home/matt/python/tcd/templates"
)</pre>
	
	<p>
	  Now open <b>templates/specific_base.html</b> and change the
	  contents to the following.
	</p>
	
	<pre class="command">&lt;script type="text/javascript" charset="utf-8" src="http://localhost/static/tcd.js"&gt;&lt;/script&gt;
&lt;link rel="stylesheet" type="text/css" href="http://localhost/static/tcdstyle.css" /&gt;</pre>
      </li>

      <li>
	<h3>Serve static data with Apache</h3>
	
	<p>
	  Hopefully you were able to set up the Apache web server from
	  the previous set of instructions. If so, go to the directory
	  where apache is installed. In here there should be a folder
	  called <b>htdocs</b>. This is the default place where Apache
	  goes to look for files to serve, and it should be the
	  current place unless you've changed it. In here make a new
	  directory named static. Inside this directory we're going to
	  make some symbolic links to the CSS stylesheet and
	  javascript files for TCD.
	</p>
	
	<pre class="command">cd APACHE_INSTALL_DIR/htdocs/
sudo mkdir static && cd static
sudo ln -s /home/matt/python/tcd/static/tcd.js
sudo ln -s /home/matt/python/tcd/static/tcdstyle.css</pre>

	<p>
	  Since Django is not really intended to serve static data,
	  it requires a seperate server set up for it. When starting
	  the development server, it will be necessary to start Apache
	  first for the webpage to display properly.
	</p>
      </li>

      <li>
	<h3>Start the development server</h3>
	<p>
	  If everything has been set up correctly so far, then we
	  should be ready to start the development server. This is a
	  simple server program included with Django for testing
	  programs. First we'll need to start Apache to serve the
	  static pages, then we can start the development server. This
	  must be done from within the TCD directory.
	</p>
	<pre class="command">cd /home/matt/python/tcd/
sudo httpd
python manage.py runserver</pre>
	<p>
	  Now open your web browser and go
	  to <a href="http://localhost:8000">http://localhost:8000</a>. You
	  should see the TCD front page (though without any
	  submissions on it).
	</p>
    </ol>
  </body>
</html>
