{% extends "base.html" %}
{% block htmlhead %}
<link rel="alternate" type="application/rss+xml"
      title="GreaterDebater - New Arguments"
      href="http://feeds.feedburner.com/Greaterdebater-NewArguments">
{% endblock %}

{% block title %}Current Arguments{% endblock %}

{% block content %}
<h3 class="section-title">Newest Arguments</h3>

<div class="rss-link">
  <a href="http://feeds.feedburner.com/Greaterdebater-NewArguments"><img src="/static/feed-icon-14x14.png" /></a> <a href="http://feeds.feedburner.com/Greaterdebater-NewArguments">Subscribe to RSS</a>
</div>

{% include "items/arg_list.html" %}

<div class="pages">
  {% if has_previous %}
  <a id="prev" href="/argue/new/page/{{ previous }}/">Previous</a>
  {% endif %}
  {% if has_next %}
  <a id="next" href="/argue/new/page/{{ next }}/">Next</a>
  {% endif %}
</div>
{% endblock %}

{% block ads %}
{% include "ads.html" %}
{% endblock %}
