{% extends "base.html" %}
{% block title %}Current Arguments{% endblock %}

{% block content %}
<h3 class="section-title">Newest Arguments</h3>
<div class="rss-link">
  <a href="/feeds/newargs/"><img src="/static/feed-icon-28x28.png" /> Subscribe to RSS</a>
</div>

{% include "items/arg_list.html" %}

<div class="pages">
  {% if has_previous %}
  <a id="prev" href="/argue/new/page/{{ previous }}/">Previous</a>
  {% endif %}
  {% if has_next %}
  <a id="next" href="/argue/new/page/{{ next }}/">Next</a>
  {% endif %}
</div>
{% endblock %}

{% block ads %}
{% include "ads.html" %}
{% endblock %}
