{% extends "base.html" %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div id="arg_title">
  <h3>{{ object.title }}</h3>
  <span id="arg_status">Status: {{ object.get_status }}</span>
</div>

<div id="arg_comments">
  {% if comments %}
  {% for comment in comments %}
  {% include "comments/arg_comment.html" %}
  {% endfor %}
  {% else %}
  <p>No comments</p>
  {% endif %}
</div>


{% if show_arg_actions %}
<div id="arg_actions">
  {% if current %}

  {% if new_arg %}
  <!--   The argument has been proposed but not accepted or declined, the defendant is viewing the page -->
  <div class="arg_query arg_responses" id="arg_responses">
    Begin this argument?<br />
    <ul class="flat-list">
      <li><a href="#" onclick="respond_challenge({{ object.id}}, {{ request.user.id }}, 0); return false;">Accept</a></li>
      <li><a href="#" onclick="respond_challenge({{ object.id}}, {{ request.user.id }}, 1); return false;">Decline</a></li>
    </ul>
  </div>
  {% endif %}

  {% if show_draw %}
  <!-- A draw has been proposed, the user viewing the page is currently up in the argument -->
  <div class="arg_responses arg_query" id="draw_query">
    <p>
      A draw has been offered
    </p>
    <a class="menu" href="#" onclick="respond_draw({{ object.id }}, {{ request.user.id }}, 0); return false;">Accept</a> |
    <a class="menu" href="#" onclick="respond_draw({{ object.id }}, {{ request.user.id }}, 1); return false;">Decline</a>
  </div>
  {% endif %}
  
  {% if show_actions %}
  {% include "items/turn_actions.html" %}  
  {% endif %}

  {% if show_votes %}
  <div id="vote" class="arg_responses">
    {% if voted_for %}

    {% include "items/vote_div.html" %} 
    {% else %}    
    <p>
      Who's winning? Cast your vote below.
    </p>
    <a class="menu" href='#' onclick="vote({{ object.id }}, {{ request.user.id }}, 'P'); return false;">Vote for {{ object.plaintiff.username}}</a> |
    <a class="menu" href='#' onclick="vote({{ object.id }}, {{ request.user.id }}, 'D'); return false;">Vote for {{ object.defendant.username}}</a>
    {% endif %}
  </div>
  {% endif %}

  {% else %}
  <div id="vote" class="arg_responses">
    {% include "items/vote_div.html" %}
  </div>
  {% endif %}

</div>
{% endif %}

{% endblock %}

{% block ads %}
{% include "ads.html" %}
{% endblock %}
