<div class="arg_list">
  {% if args_list %}
  <ol start={{ start }} class="topic-list">
    {% for arg in args_list %}
    <li>
      <a class="title" href="/argue/{{ arg.id }}"{% if newwin %}target="_blank"{% endif %}>{{ arg.title }}</a><br />
      <span class="menu topic-menu">{{ arg.plaintiff.username }} vs. {{ arg.defendant.username }}</span>|
      <span class="menu topic-menu">{{ arg.get_status }}</span>
      {% if arg.is_current %}
      | <span class="menu topic-menu">{{ arg.get_remaining }} remaining</span>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
  {% else %}
  <p>
    No Debates Available
  </p>
  {% endif %}
</div>
