{% extends "base.html" %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div id="arg_title">
  <h3>{{ object.title }}</h3>
  <span id="arg_status">Status: {{ object.get_status }}</span>
</div>

<div id="arg_comments">
  {% if comments %}
  {% for comment in comments %}
  {% include "comments/arg_comment.html" %}
  {% endfor %}
  {% else %}
  <p>No comments</p>
  {% endif %}
</div>


{% ifequal user object.whos_up %}
<div id="arg_actions">
  {% if new_arg %}
  <div class="arg_query arg_responses">
    Begin this argument?<br />
    <ul class="flat-list">
      <li><a href="/argue/accept/{{ object.id }}">Accept</a></li>
      <li><a href="/argue/decline/{{ object.id }}">Decline</a></li>
    </ul>
  </div>
  {% else %}
  {% if object.draw_set.all %}
  <div class="arg_responses arg_query" id="draw_query">
    <p>
      A draw has been offered
    </p>
      <a class="menu" href="#" onclick="respond_draw({{ object.id }}, {{ request.user.id }}, 0); return false;">Accept</a> |
      <a class="menu" href="#" onclick="respond_draw({{ object.id }}, {{ request.user.id }}, 1); return false;">Decline</a>
  </div>
  {% else %}
  {% include "items/turn_actions.html" %}
  {% endif %}
  {% endif %}
</div>
{% else %}

{% if request.user.is_authenticated %}
{% ifnotequal request.user object.plaintiff %}
{% ifnotequal request.user object.defendant %}
<div id="arg_actions">
  <div id="vote" class="arg_responses">
    {% if voted_for %}

    {% include "items/vote_div.html" %} 

    {% else %}
    {% if current %}
    <p>
      Who's winning? Cast your vote below.
    </p>
    <a class="menu" href='#' onclick="vote({{ object.id }}, {{ request.user.id }}, 'P'); return false;">Vote for {{ object.plaintiff.username}}</a> |
    <a class="menu" href='#' onclick="vote({{ object.id }}, {{ request.user.id }}, 'D'); return false;">Vote for {{ object.defendant.username}}</a>
    {% else %}
    {% include "items/vote_div.html" %} 
    {% endif %}
    {% endif %}
  </div>
</div>
{% endifnotequal %}
{% endifnotequal %}
{% endif %}

{% endifequal %}

{% endblock %}

{% block ads %}
{% include "ads.html" %}
{% endblock %}
