{% extends "base.html" %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div id="arg_title">
  <h3>{{ object.title }}</h3>
<!--  <span id="arg_status"> -->
  <table class="arg_info">
    <tr>
      <th>Status:</th><td id="arg_status">{{ object.get_status }}</td>
    <tr>
      <th>Topic:</th><td><a href="{{ object.topic.get_comments_url }}">{{ object.topic.title }}</a><td>
    </tr>
    {% if object.is_current %}
    <tr>
      <th>Time Remaining:</th><td>{{ object.get_remaining }}</td>
    </tr>
    {% endif %}
  </table>
</div>

<div id="arg_comments">
  {% with incite as comment %}
  {% include "comments/arg_comment.html" %}
  {% endwith %}
  {% if comments %}
  {% for comment in comments %}
  {% include "comments/arg_comment.html" %}
  {% endfor %}
  {% else %}
  <p>No comments</p>
  {% endif %}
</div>


{{ arg_actions }}

{% endblock %}

{% block sidebar %}

<p>
  <g:plusone size="tall" href="{{ object.get_absolute_url }}"></g:plusone>
</p>

<p>
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <fb:send href="{{ object.get_absolute_url }}" font="verdana"></fb:send>
</p>
{% endblock %}

{% block ads %}
{% include "ads.html" %}
{% endblock %}
