{% extends "registration/profile/profile_base.html" %}

{% block title %}Edit topic{% endblock %}

{% block content %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
<form action="{{ request.path }}" method='post'>
  {% csrf_token %}
  <table>
    <tr>
      <th>	
	<label for="id_title">Title:</label>
      </th>
      <td>
	{{ form.title }}
      </td>
    </tr>
    <tr>
      <th>
	<label for="id_comment">Text:</label>
      </th>
      <td>      
	{{ form.comment }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
	<input type="submit" value="Edit" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}
