{% extends "base.html" %}

{% block htmlhead %}  
<link rel="alternate" type="application/rss+xml"
	title="New Topics - GreaterDebater"
	href="http://feeds.feedburner.com/Greaterdebater-NewTopics" />
<link rel="alternate" type="application/rss+xml"
	title="New Debates - GreaterDebater"
	href="http://feeds.feedburner.com/Greaterdebater-NewArguments"/>
<meta property="fb:app_id" content="5320398" />
<meta property="og:title" content="GreaterDebater" />
<meta property="og:image" content="{{ MEDIA_URL }}gd-small.png" />
<meta property="og:site_name" content="GreaterDebater" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://greaterdebater.com" />
<meta property="og:description" content="The only place on the Internet where you can win an arugment" />
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<p>
  GreaterDebater is a social news website and discussion forum where
  you can comment on the hottest issues of the day. You can also
  challenge other commenters to one-on-one debates where our users
  cast votes for the side that most convincingly proves their case.
</p>

{% if not request.user.is_authenticated %}
<p>
  <a href="/users/login?next=/">Log in or register</a> to
  submit topics of your own, post comments, and participate in
  debates.
</p>
{% endif %}

<h3>Recent Debates</h3>
{% if args_list %}
{% include "items/arg_list.html" %}
{% else %}
<p>No debates are available</p>
{% endif %}

<h3>Most Active Topics</h3>
{% if topic_list %}
<ol class="topic-list">
  {% for object in topic_list %}
  <li>
    {% include "items/topic_div.html" %}
  </li>
  {% endfor %}
</ol>
<a class="more" href="/hot/">More Topics...</a>
{% else %}
<p>No topics are available</p>
{% endif %}

{% endblock %}

{% block sidebar %}
<h1>RSS Feeds</h1>
<ul>
  <li>
    <div class="rss-link">
      <a href="http://feeds.feedburner.com/Greaterdebater-NewTopics">
	<img src="{{ MEDIA_URL}}img/feed-icon-14x14.png" /></a> 
      <a href="http://feeds.feedburner.com/Greaterdebater-NewTopics">New Topics</a>
    </div>
  </li>
  <li>
    <div class="rss-link">
      <a href="http://feeds.feedburner.com/Greaterdebater-NewArguments">
	<img src="{{ MEDIA_URL }}img/feed-icon-14x14.png" /></a> 
      <a href="http://feeds.feedburner.com/Greaterdebater-NewArguments">New Debates</a>
    </div>
  </li>
</ul>

<p>
  <div class="fb-like-box" data-href="http://www.facebook.com/pages/GreaterDebater/114458948568341" data-width="292" data-show-faces="false" data-stream="false" data-header="false"></div>
</p>

<p>
<a href="https://twitter.com/GreaterDebater" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @GreaterDebater</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>

{% endblock %}

{% block ads %}
{% include "ads.html" %}
{% endblock %}
