{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<h3>Most Active Arguments</h3>
{% if args_list %}
{% include "items/arg_list.html" %}
{% else %}
<p>No current arguments are available</p>
{% endif %}

<h3>Most Active Topics</h3>
{% if topic_list %}
<ol start={{ start }} class="topic-list">
  {% for object in topic_list %}
  <li>
    {% include "items/topic_div.html" %}
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No topics are available</p>
{% endif %}

{% endblock %}

{% block ads %}
{% include "ads.html" %}
{% endblock %}
