{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- useless comment -->
<p>
  GreaterDebater is a place to engage in productive discourse on the
  hottest topics of the day. 
</p>

<p>
  To get started, view the <a href="/hot/">hottest topics</a> to look
  for a discussion to join. <a href="/users/register?next=/">Create an
  account</a> to submit topics of your own, post comments, and
  participate in debates with other users.
</p>

<p>
  Check out the <a href="/argue/">most popular</a>
  or <a href="/argue/new">newest</a> arguments. Registered users can
  cast their votes for the greater debater.
</p>
<a href="/argue/"><h3>Most Active Arguments</h3></a>
{% if args_list %}
{% include "items/arg_list.html" %}
{% else %}
<p>No current arguments are available</p>
{% endif %}

<a href="/hot/"><h3>Most Active Topics</h3></a>
{% if topic_list %}
<ol class="topic-list">
  {% for object in topic_list %}
  <li>
    {% include "items/topic_div.html" %}
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No topics are available</p>
{% endif %}

{% endblock %}

{% block ads %}
{% include "ads.html" %}
{% endblock %}
