{% extends "base.html" %}

{% block title %}Comments needing review{% endblock %}

{% block htmlhead %}
<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL}}review.js"></script>
{% endblock %}

{% block content %}
{% include "items/review_menu.html" %}

<h3 class="section-title">Comments for review</h3>

{% if comment_list %}

<ol start={{ start }} class="topic-list">
  {% for comment in comment_list %}
  <li>
    <div id="comment_div{{ comment.id }}" class="comment_div">
      <p class=comment_topic>
	on <a href="/{{ comment.ntopic_id }}/" {% if newwin %}target="_blank"{% endif %}>{{ comment.ntopic.title }}</a>
      </p>
      <span id= "comment_info{{ comment.id }}" class="comment_info"> by <a href="/users/u/{{ comment.user }}/profile/">{{ comment.user }}</a> {{ comment.get_elapsed }} ago   
      <div id="commentp_div{{ comment.id }}">
	{{ comment.comment_html|safe }}
      </div>
      <div class="topic-actions">
	<button id="approve" onclick="decide({{ comment.id }}, 'comment', 0); return false;">Approve</button>
	<button id="reject" onclick="decide({{ object.id }}, 'topic', 2); return false;">Reject</button>
	<button id="markspam" onclick="decide({{ comment.id }}, 'comment', 1); return false;">Spam</button>
      </div>
    </div>
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No comments to review</p>
{% endif %}

{# pagination #}
<div class="pages">
  {% if has_previous %}
  <a id="prev" href="{{ previous }}/">Previous</a>
  {% endif %}
  {% if has_next %}
  <a id="next" href="{{ next }}/">Next</a>
  {% endif %}
</div>

{% endblock %}
