{% extends "base.html" %}

{% block title %}Topics needing review{% endblock %}

{% block htmlhead %}
<script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL}}review.js"></script>
{% endblock %}

{% block content %}
{% include "items/review_menu.html" %}

<h3 class="section-title">Topics for review</h3>

{% ifequal model "topic" %}
{% if topic_list %}
<ol start={{ page_obj.start_index }} class="topic-list">
  {% for object in topic_list %}
  <li>
    <div id="topic_div{{ object.id }}" class="topic_div">
      <div class="title">
	<a href="/{{ object.id }}/" class="title" {% if newwin %}target="_blank"{% endif %}>{{ object.title }}</a><span class="domain">({{ object.get_domain }})</span>
      </div>
      <div class="topic-menu">
	submitted by <a href="/users/u/{{ object.user }}/profile/">{{ object.user }}</a> {{ object.get_elapsed }} ago
      </div>
      <div id="tags{{ object.id }}" class="tags">
	{% with object.display_tags as tags %}
	Tags: 	{% for tag in tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% empty %}No tags{% endfor %}
	{% endwith %}
      </div>
      <div class="topic-actions">
	<button id="approve" onclick="decide({{ object.id }}, 'topic', 0); return false;">Approve</button>
	<button id="reject" onclick="decide({{ object.id }}, 'topic', 2); return false;">Reject</button>
	<button id="markspam" onclick="decide({{ object.id }}, 'topic', 1); return false;">Spam</button>
      </div>
    </div>
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No topics to review</p>
{% endif %}
{% endifequal %}

{% ifequal model "comment" %}
{% if comment_list %}

<ol start={{ page_obj.start_index }} class="topic-list">
  {% for comment in comment_list %}
  <li>
    <div id="comment_div{{ comment.id }}" class="comment_div">
      <p class=comment_topic>
	on <a href="/{{ comment.ntopic_id }}/" {% if newwin %}target="_blank"{% endif %}>{{ comment.ntopic.title }}</a>
      </p>
      <span id= "comment_info{{ comment.id }}" class="comment_info"> by <a href="/users/u/{{ comment.user }}/profile/">{{ comment.user }}</a> {{ comment.get_elapsed }} ago   
      <div id="commentp_div{{ comment.id }}">
	{{ comment.comment_html|safe }}
      </div>
      <div class="topic-actions">
	<button id="approve" onclick="decide({{ comment.id }}, 'comment', 0); return false;">Approve</button>
	<button id="reject" onclick="decide({{ comment.id }}, 'topic', 2); return false;">Reject</button>
	<button id="markspam" onclick="decide({{ comment.id }}, 'comment', 1); return false;">Spam</button>
      </div>
    </div>
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No comments to review</p>
{% endif %}
{% endifequal %}

{# pagination #}
<div class="pages">
  {% if page_obj.has_previous %}
  <a id="prev" href="{{ page_obj.previous_page_number }}/">Previous</a>
  {% endif %}
  {% if page_obj.has_next %}
  <a id="next" href="{{ page_obj.next_page_number }}/">Next</a>
  {% endif %}
</div>

{% endblock %}
