{% with object.display_tags as tags %}
{% if tags %}
Tags: 
{% for tag in tags|slice:":5" %} 
<a href="#" 
   onclick="clicktag({{ object.id }}, '{{ tag }}', true); return false;" 
   title="Click to add {{ tag }} to your list of tags">{{ tag }}</a>{% if not forloop.last %},{% endif %} 
{% endfor%}
<a id="moretags{{ object.id }}" 
   class="moretag" href='#' onclick="showalltags({{ object.id }}, false); return false;">more...</a>
{% else %}
<a id="moretags{{ object.id }}" 
   href='#' onclick="showalltags({{ object.id }}, true); return false;">Add Tags...</a>
{% endif %}
<div id="fulltags{{ object.id }}" class="tags confirm">
  {% for tag in tags|slice:"5:" %} 
  <a href="#" 
     onclick="clicktag({{object.id}}, '{{ tag }}', false); return false;" 
     title="Click to add {{ tag }} to your list of tags">{{ tag }}</a>{% if not forloop.last %},{% endif %} 
  {% endfor %}
  <div id="tag-form{{ object.id }}" class="tag-form">
    <!--       <div><input type="hidden" name="topic_id" value={{ object.id }} /></div> -->
    <!--       <div><input type="hidden" name="source" value={{ source }} /></div> -->
    <div>
      <input type="text" name="tags" id="tag_text{{ object.id }}" />
      <button onclick="addtags({{ object.id }}, {{ source }}); return false;" name="Add">Add</button>
    </div>	
  </div>   
</div>
{% endwith %}
