{% if request.user.is_authenticated %}
<div id="tags{{ object.id }}" class="tags">
  {% with object.display_tags as tags %}
  {% if tags %}
  Tags: 
  {% for tag in tags|slice:":5" %} 
  <a href="#" 
     onclick="clicktag({{ object.id }}, '{{ tag }}', true); return false;" 
     title="Click to add {{ tag }} to your list of tags">{{ tag }}</a>{% if not forloop.last %},{% endif %} 
  {% endfor%}
  <a id="moretags{{ object.id }}" 
     class="moretag" href='#' onclick="showalltags({{ object.id }}, false); return false;">more...</a>
  {% else %}
  <a id="moretags{{ object.id }}" 
     href='#' onclick="showalltags({{ object.id }}, true); return false;">Add Tags...</a>
  {% endif %}
  <div id="fulltags{{ object.id }}" class="tags confirm">
    {% for tag in tags|slice:"5:" %} 
    <a href="#" 
       onclick="clicktag({{object.id}}, '{{ tag }}', false); return false;" 
       title="Click to add {{ tag }} to your list of tags">{{ tag }}</a>{% if not forloop.last %},{% endif %} 
    {% endfor %}
    <div class="tag-form">
      <div><input type="hidden" name="topic_id" value={{ object.id }} /></div>
      <div>
	<input type="text" name="tags" id="tag_text{{ object.id }}" />
	<button onclick="addtags({{ object.id }}); return false;" name="Add">Add</button>
      </div>	
    </div>   
  </div>
  {% endwith %}
</div>
{% endif %}
