<a href=/>Home</a>
{% if logged_in %}
<p>You're logged in! Welcome {{ user }}! <a href=/logout>Log out</a></p>
{% else %}
<p><a href=/login?next={{ next }}>Log in</a> or create an account to post comments</p>
{% endif %}
<strong><a href={{ object.url }}>{{ object.title }}</a></strong><br>
{% if first_c %}
{% for comment in first_c %}
{{ comment.comment_html|safe }}
{% endfor %}
{% endif %}
<br>
{% include "comments/form.html" %}<br>
{% if rest_c %}
{% for comment in rest_c %}
{{ comment.comment_html|safe }}
by {{ comment.user }} on {{ comment.pub_date }}
<br><br>
{% endfor %}

{% else %}
<p>No comments</p>
{% endif %}

