{% extends "base.html" %}
{% block title %}TCD{% endblock %}

{% block content %}
{% if object_list %}
<ol start = {{ start }}>
  {% for object in object_list %}
  <li><a href={{ object.url }}>{{ object.title }}</a> <br>
      <div id="topic_info{{ object.id }}" class="topic_info">
      {{ object.get_elapsed }} ago Score: {{ object.score }} 
      <a href= /{{ object.user }}>{{ object.user }}</a>
      <a href = {{ object.id }}>({{ object.comment_set.count }}) comments</a>
      </div>      
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No topics are available</p>
{% endif %}
{% if has_previous %}
<a href="/?page={{ previous }}">Previous</a>
{% endif %}
{% if has_next %}
<a href="/?page={{ next }}">Next</a>
{% endif %}
{{ last_page }}
{% endblock %}
