{% extends "base.html" %}
{% block title %}{{ ttype }} Topics{% endblock %}

{% block content %}
{% if object_list %}

<h3 class="section-title">{{ ttype }} Topics</h3>
<div class="rss-link">
  <a href="/feeds/newtopics/"><img src="/static/feed-icon-28x28.png" /> Subscribe to RSS</a>
</div>

<ol start={{ start }} class="topic-list">
  {% for object in object_list %}
  <li>
    {% include "items/topic_div.html" %}
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No topics are available</p>
{% endif %}

{# pagination #}
<div class="pages">
  {% if has_previous %}
  <a id="prev" href="/{{ page }}/{{ previous }}/">Previous</a>
  {% endif %}
  {% if has_next %}
  <a id="next" href="/{{ page }}/{{ next }}/">Next</a>
  {% endif %}
</div>

{% endblock %}

{% block ads %}
{% include "ads.html" %}
{% endblock %}
