{% extends "base.html" %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<strong><a href={{ object.url }}>{{ object.title }}</a></strong><br>
{% if first_c %}
{% for comment in first_c %}
{{ comment.comment_html|safe }}
{% endfor %}
{% endif %}
<br>
{% include "comments/form.html" %}<br>
{% if rest_c %}
<table>
  {% for comment in rest_c %}
  <tr>
    <td>
      <table>
	<tr>
	  <td><img width={{ comment.nesting }} height=1 src={{ image_url }} /></td>
	  {% if comment.is_removed %}	  
	  <td><i>Comment deleted</i>
	  {% else %}
	  <td>{{ comment.comment_html|safe }}
	    <span> by {{ comment.user }} on {{ comment.pub_date }} 
	      {% if user.is_authenticated %}
	      {% include "comments/reply_form.html" %}
	      {% include "comments/edit_form.html" %}
	      {% include "comments/argue_form.html" %}
	      {% endif %}
	    </span>
	  {% endif %}
	</td></tr>
	</table>
  </td></tr>
{% endfor %}
</table>
{% else %}
<p>No comments</p>
{% endif %}
{% endblock %}
