{% extends "base.html" %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<strong><a href={{ object.url }}>{{ object.title }}</a></strong><br />
<span class="comment_info">submitted by <a href="/users/u/{{ object.user }}/profile/">{{ object.user }}</a> {{ object.get_elapsed }} ago<br /></span>

{% if first_c %}
{% for comment in first_c %}
<div class="firstcomment">
  {{ comment.comment_html|safe }}
</div>
<div class="comment-menu">

  <a href="/comments/{{ comment.id }}/arguments/">({{ comment.arguments.count }}) arguments</a>
  {% if user.is_authenticated %}
  {% ifequal user object.user %}
  {% else %}
  <a href='#' onclick="displayFormComment('#argue{{ comment.id }}'); return false;">argue</a>
  <div class="action_block">
    {% include "comments/argue_form.html" %}
  </div>
{% endifequal %}
{% else %}
{% endif %}
{% endfor %}
{% endif %}
</div>

<br />
{% include "comments/form.html" %}<br>
{% if rest_c %}
{% for comment in rest_c %}
<div id="comment_div{{ comment.id }}" style="margin-left: {{ comment.nesting }}px">
  <br />
  {% include "comments/one_comment.html" %}
  {% include "comments/comment_actions.html" %}
</div>
{% endfor %}
<p>
{% if has_previous %}
<a href="/{{ object.id }}/{{ previous }}">Previous</a>
{% endif %}
{% if has_next %}
<a href="/{{ object.id }}/{{ next }}">Next</a>
{% endif %}
</p>
{% else %}
<p>No comments</p>
{% endif %}
{% endblock %}

{% block ads %}
{% include "ads.html" %}
{% endblock %}
