{% extends "base.html" %}

{% block title %}{{ ttype }} Topics{% endblock %}

{% block htmlhead %}
  <link rel="alternate" type="application/rss+xml"
	title="GreaterDebater - New Topics"
	href="http://feeds.feedburner.com/Greaterdebater-NewTopics">
{% endblock %}

{% block content %}
{% if object_list %}

<h3 class="section-title">{{ ttype }} Topics</h3>




<ol start={{ start }} class="topic-list">
  {% for object in object_list %}
  <li>
    {% include "items/topic_div.html" %}
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No topics are available</p>
{% endif %}

{# pagination #}
<div class="pages">
  {% if has_previous %}
  <a id="prev" href="/{{ page }}/{{ previous }}/">Previous</a>
  {% endif %}
  {% if has_next %}
  <a id="next" href="/{{ page }}/{{ next }}/">Next</a>
  {% endif %}
</div>

{% endblock %}

{% block sidebar %}
<div class="rss-link">
  <a href="http://feeds.feedburner.com/Greaterdebater-NewTopics">
    <img src="{{ MEDIA_URL}}img/feed-icon-14x14.png" /></a> 
  <a href="http://feeds.feedburner.com/Greaterdebater-NewTopics">Subscribe to RSS</a>
</div>
{% endblock %}

{% block ads %}
{% include "ads.html" %}
{% endblock %}
