<div id="arg_actions">
  <div id="vote" class="arg_responses">
    {% if voted_for %}
    <p>You voted for {{ voted_for.username }}
      {% if current %}
      <a id="unvote" class="comment-menu" href="#" onClick="unvote({{ object.id }}, {{ request.user.id }}); return false;">Unvote</a>
      {% endif %}
    </p>
    {% endif %}

    <p>{% if current %}Current{% else %}Final{% endif %} Tally:</p>

    {{ pvotes }} vote{{ pvotes|pluralize }} for {{ object.plaintiff }}<br />
    {{ dvotes }} vote{{ dvotes|pluralize }} for {{ object.defendant }}
  </div>
</div>
